@{
	ViewBag.JSON = Model;
	ViewBag.Scripts = new string[] {
		"views/home/index"
	};
}
<div class="container">
	<div class="row">
		<div class="col-md-12 form-inline">
			<div class="form-group">
				<label class="sr-only" for="exampleInputEmail3">Trakt Username</label>
				<input type="text" class="form-control" placeholder="trakt username" data-bind="initialisedValue: traktUsername, valueUpdate: 'afterkeydown', enterkey: getWatched" value="@ViewBag.Username">
			</div>
			<button class="btn btn-primary" data-bind="click: getWatched">Get watched</button>
			<a class="btn btn-link" href="/">Reset</a>
		</div>
	</div>
	<div class="row" data-bind="visible: unwatchedMovies().length">
		<div class="col-md-12 form-inline">
			<h3>You've watched <span data-bind="text: watchedPercentage.formatted"></span> of the IMDB 250</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Rank</td>
						<td>Name</td>
						<td>Year</td>
						<td>Watched</td>
					</tr>
				</thead>
				<tbody data-bind="foreach: orderedMovies">
					<tr data-bind="css: { watched: watched }">
						<td data-bind="text: Rank"></td>
						<td><a data-bind="text: Name, attr: { href: trakturl }"></a></td>
						<td data-bind="text: Year"></td>
						<td data-bind="tickicon: watched"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
